.main-content {
    min-height: 70vh; 
    background-color: #f1f8fc;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  

  
  .main-footer {
    background-color: #00497c;
    color: white;
    padding: 1.5rem 2rem;
    border-top: 4px solid #0074c7;
  }
  